In [3]:
1: To print the data present in the second row of the dataframe df, we can use "iloc"
  method with value index 1...

import pandas as pd
course_name = [ "Data Science", "Machine Learning", "Big Data", "Data Engineer"]
duration = [2,3,6,4]
df = pd.DataFrame(data = {"course_name" : course_name, "duration" : duration})

print(df.iloc[1])


#Output:

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [ ]:
2:
    
"Loc"

loc is used for label-based indexing, which means it accesses data in a DataFrame 
using labels (names) instead of integer positions.

"iloc"

iloc is used for integer-based indexing, which means it accesses data in a DataFrame
using integer positions (starting from 0) instead of labels.

In [ ]:
3:
    
import pandas as pd

# Creating the original dataframe
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
df1 = pd.DataFrame(data = None, columns = columns, index = indices)
print( df1)

# Filling the dataframe with random values
for i in range(df1.shape[0]):
    for j in range(df1.shape[1]):
        df1.iloc[i,j] = round(pd.np.random.rand(), 2)
print( df1)

# Reindexing the dataframe
reindex = [3,0,1,2]
new_df = df1.reindex(reindex)
print( new_df)

print( new_df.loc[2])

print( new_df.iloc[2])
   
    
    
 #Output:
Original dataframe:
   column_1 column_2 column_3 column_4 column_5 column_6
1      NaN      NaN      NaN      NaN      NaN      NaN
2      NaN      NaN      NaN      NaN      NaN      NaN
3      NaN      NaN      NaN      NaN      NaN      NaN
4      NaN      NaN      NaN      NaN      NaN      NaN
5      NaN      NaN      NaN      NaN      NaN      NaN
6      NaN      NaN      NaN      NaN      NaN      NaN
  column_1 column_2 column_3 column_4 column_5 column_6
1      0.2     0.92     0.98     0.24     0.02      0.1
2     0.25     0.67     0.24     0.26     0.49     0.56
3     0.87     0.09     0.96     0.63      0.2     0.52
4     0.87      0.7     0.18     0.78     0.09     0.53
5     0.49     0.47     0.63      0.6     0.07     0.83
6     0.32     0.71     0.14     0.67     0.94     0.03
  column_1 column_2 column_3 column_4 column_5 column_6
3     0.87     0.09     0.96     0.63      0.2     0.52
0      NaN      NaN      NaN      NaN      NaN      NaN
1      0.2     0.92     0.98     0.24     0.02      0.1
2     0.25     0.67     0.24     0.26     0.49     0.56
column_1    0.25
column_2    0.67
column_3    0.24
column_4    0.26
column_5    0.49
column_6    0.56
Name: 2, dtype: object
column_1     0.2
column_2    0.92
column_3    0.98
column_4    0.24
column_5    0.02
column_6     0.1
Name: 1, dtype: object

In [ ]:
4:
    
import pandas as pd
import numpy as np

# creating the dataframe
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1, 2, 3, 4, 5, 6]
df1 = pd.DataFrame(np.random.rand(6,6), columns=columns, index=indices)

# finding the mean of each and every column
print("Mean of each column:")
print(df1.mean())

# finding the standard deviation of column_2

print("Standard deviation of column_2",df1['column_2'].std())
    
    
#Output:
Mean of each column:
column_1    0.522626
column_2    0.359336
column_3    0.428400
column_4    0.599945
column_5    0.558265
column_6    0.354812
dtype: float64
Standard deviation of column_2 0.16021273731105187

In [ ]:
5:
    
import pandas as pd
import numpy as np

# creating a dataframe
df1 = pd.DataFrame(np.random.rand(6,6), columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6'], index = [1,2,3,4,5,6])

# replacing the data in the second row of column_2 with a string variable
df1.loc[2, 'column_2'] = 'string_data'

# finding the mean of column_2
Note: "Since the second row of column_2 is a string now, the mean calculation
      will throw an error".
    Therefore, we need to convert the column to a numeric data type before 
    calculating the mean.
    
    
df1['column_2'] = pd.to_numeric(df1['column_2'], errors='coerce') 
# finding the mean of column_2
mean_col2 = df1['column_2'].mean()

print("Mean of column_2:", mean_col2)
    
    
The output will be:

column_1  column_2  column_3  column_4  column_5  column_6
mean  0.490605  NaN       0.408684  0.499678  0.530031  0.481523


 the mean of column_2 is NaN because it was replaced with a string value,
which cannot be included in a numeric calculation.

In [ ]:
6:
    
In pandas, a window function is a function that applies to a set of rows
(i.e., a window) of a DataFrame or a Series, and returns a single output value
for each row in the window. It is commonly used for analyzing time series data
and can help to calculate various statistics and metrics over a rolling window.


There are several types of window functions in pandas, some of which are
listed below:  
    
1.Rolling
2.Expanding 
3.EWM (Exponentially Weighted Moving)
4.Groupby
5.Window

In [ ]:
7:
 heres a code that uses the datetime function from the pandas library to 
print the current month and year:    
    
    
import pandas as pd

# Get the current date and time
now = pd.datetime.now()

# Print the current month and year
print("Current month and year: {}/{}".format(now.month, now.year))


#Output:

Current month and year: 3/2023

In [ ]:
8:
    
import pandas as pd

# Get the two dates from the user
date1 = input("Enter first date (YYYY-MM-DD): ")
date2 = input("Enter second date (YYYY-MM-DD): ")

# Convert the strings to Pandas datetime objects
date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

# Calculate the time difference between the two dates
time_diff = date2 - date1

# Calculate the number of days, hours, and minutes in the time difference
days = time_diff.days
hours = time_diff.seconds // 3600
minutes = (time_diff.seconds // 60) % 60

# Display the result
print("The time difference between", date1.date(), "and", date2.date(), "is:")
print(days, "days", hours, "hours", minutes, "minutes")

In [ ]:
9:
    
import pandas as pd

# Prompt user to enter file path, column name, and category order
file_path = input("Enter file path: ")
col_name = input("Enter column name: ")
cat_order = input("Enter category order (comma separated): ").split(",")

# Read CSV file
df = pd.read_csv(file_path)

# Convert specified column to categorical data type
df[col_name] = pd.Categorical(df[col_name], categories=cat_order, ordered=True)

# Sort the data by the specified column
sorted_df = df.sort_values(by=col_name)

# Display the sorted data
print(sorted_df)

In [ ]:
10:
    
import pandas as pd
import matplotlib.pyplot as plt

# prompt user to enter file path
file_path = input("Enter the file path for the CSV file: ")

# read the CSV file into a pandas dataframe
df = pd.read_csv(file_path)

# convert date column to datetime object
df['Date'] = pd.to_datetime(df['Date'])

# set the Date column as the index
df.set_index('Date', inplace=True)

# group sales data by product category and date
grouped = df.groupby(['Product Category', pd.Grouper(freq='M')])['Sales'].sum().unstack()

# create stacked bar chart
ax = grouped.plot(kind='bar', stacked=True, figsize=(10, 6))

# set chart title and axis labels
ax.set_title('Sales by Product Category')
ax.set_xlabel('Month')
ax.set_ylabel('Sales')

# display the chart
plt.show()

In [ ]:
11:
    
import pandas as pd

# Prompt user to enter file path
file_path = input("Enter the file path of the CSV file containing the student data: ")

# Read CSV file into a Pandas DataFrame
df = pd.read_csv(file_path)

# Calculate mean, median, and mode of test scores
mean = df['Test Score'].mean()
median = df['Test Score'].median()
mode = df['Test Score'].mode().tolist()

# Display results in a table
results = pd.DataFrame({
    'Statistic': ['Mean', 'Median', 'Mode'],
    'Value': [mean, median, mode]
})

print(results)